<!-- <h1>hey there</h1> -->
<!-- <table style="width: 100%;">
  <tr>
    <td>
      <app-add-employee></app-add-employee>
    </td>
    <td>
      <app-employee-list></app-employee-list>
    </td>
  </tr>
</table> -->

<!-- <h1>Data binding</h1> -->
<!-- <app-data-binding></app-data-binding> -->

<!-- <h1>Directive- Structural directive</h1>  -->
<!-- <app-structural-directive></app-structural-directive> -->

<!-- <h1>Directive- Attribute directive</h1> -->
<!-- <app-attribute-directive></app-attribute-directive> -->

<!-- Nav tabs -->
<router-outlet></router-outlet>